.animal-public-content{
    margin-bottom: 12vh;
}

.noPets-class{
    color: rgb(32, 33, 33);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10vh;
    font-size: 25px;
}

.container-texts {
    color: rgb(32, 33, 33);
    font-size: large;
    display: flex;
    flex-direction: column;
}

#animal-name{
    color: rgb(32, 33, 33);
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: underline rgb(54, 207, 135);
}

.container-texts p{
    color: rgb(32, 33, 33);
    font-size: 25px;
    margin-left: 3vh;
}

.nameRow,.birthRow,.speciesRow,.breedRow,.healthRow,.regionRow,.pickupRow,.descriptionRow,.feedingRow,
.restrictionsRow,.relationshipRow,.medicalRow{
    display: flex;
    flex-direction: column;
}

.slideShowImages,
.videosContainer,
.audiosContainer{
    color: rgb(32, 33, 33);
    font-size: large;
    display: flex;
    flex-direction: column;
}

.slideShowImages p,
.videosContainer p,
.audiosContainer p{
    color: rgb(32, 33, 33);
    font-size: 25px;
    margin-left: 6vh;
}

.slideShowImages button{
    color: white;
    margin-left: 6vh;
    cursor: pointer;
    height: 5vh;
    width: 25vw;
    background-color: rgb(54, 207, 135);
    border-radius: 50px;
    border: 0px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s;
    margin-bottom: 1vh;
}

#buttonLeft,
#buttonRight{
    width: 48vw;
    font-size: 30px;
}

.slideShowImages button:hover{
    background-color:teal;
}

#request-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 6vh;
    margin-bottom: 3vh;
    cursor: pointer;
    height: 5vh;
    width: 25vw;
    background-color: rgb(54, 207, 135);
    border-radius: 50px;
    border: 0px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s;
}

#request-btn:hover{
    background-color: teal;
}

#warnText-field{
    color: rgb(32, 33, 33);
    font-size: 25px;
    display: flex;
    flex-direction: column;
    margin-left: 6vh;
}

#noBtn,#yesBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 6vh;
    cursor: pointer;
    height: 5vh;
    width: 25vw;
    background-color: teal;
    border-radius: 50px;
    border: 0px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s;
    text-align: center;
}

#noBtn:hover,#yesBtn:hover{
    background-color: rgb(54, 207, 135);
}

#audioItem{
    margin-left: 6vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: 1px dotted rgb(54, 207, 135);
    border-radius: 50px;
}

#videoItem{
    width: 48vw;
    height: 40vh;
    background: rgb(239,245,243);
    margin-left: 6vh;
    margin-top: 2vh;
    border: 1px dotted rgb(54, 207, 135);
}

#imgItem{
    width: 48vw;
    height: 35vh;
    background: rgb(239,245,243);
    margin-left: 6vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border: 1px dotted rgb(54, 207, 135);
    object-fit: contain;
}

@media only screen and (max-width: 850px)
{
    .container-texts button{
        height: 7vh;
        width: 50vw;
    }

    .slideShowImages button{
        height: 7vh;
        width: 50vw;
    }

    #request-btn{
        height: 7vh;
        width: 50vw;
    }

    #noBtn,#yesBtn{
        height: 7vh;
        width: 50vw;
        margin-bottom: 1vh;
    }

    #buttonLeft,
    #buttonRight{
        width: 80vw;
    }

    #videoItem{
        width: 80vw;
        height: 40vh;
    }

    #imgItem{
        width: 80vw;
        height: 35vh;
    }
}

@media only screen and (max-width: 400px)
{
    #audioItem{
        width: 50vw;
    }
}