.mypets-content{
    margin-bottom: 12vh;
}

.mypets-content h1{
    color: rgb(32, 33, 33);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noPets-class{
    color: rgb(32, 33, 33);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    font-size: 20px;
}

.pet-card{
    background-color: rgba(226, 227, 221, 0.67);
    margin-bottom: 2vh;
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 5px;
    transition: 0.2s;
}

.pet-card:hover{
    background-color: rgb(226, 227, 221);
    border: 3px dashed rgb(54, 207, 135);
}

.pet-card:hover .container-texts {
    font-size: larger;
}

.pet-img{
    height: 50vh;
    width: 34vw;
    max-width: 100%;
    border-top-left-radius: 10%;
    padding-left: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-right: 5vh;
    object-fit: cover;
    transition: 0.3s;
}

.pet-img:hover{
    transform: scale(0.98);
}

.button-view{
    margin-left: auto;
    margin-right: 1vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: none;
    background-color: rgb(54, 207, 135);
    background: linear-gradient(to bottom, rgb(54, 207, 135), teal);
    cursor: pointer;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    font-size: large;
    transition: 0.2s;
}

.button-view:hover{
    background-color: teal;
    background: linear-gradient(to top, rgb(54, 207, 135), teal);
    transform: scale(0.98);
}

.container-texts {
    color: rgb(32, 33, 33);
    font-size: large;
    transition: 0.3s;
}

.container-texts p:first-child{
    color: rgb(32, 33, 33);
    font-size: larger;
    font-weight: bold;
}

@media only screen and (max-width: 600px)
{
    .pet-card{
        flex-direction: column;
    }

    .pet-img{
        height: 30vh;
        width: auto;
        max-width: 90vw;
        margin-right: 0vh;
        padding-right: 1vh;
    }

    .container-texts {
        margin-left: 1vw;
    }

    .button-view{
        margin-left: 1vw;
        border-radius: 0px;
        height: 5vh;
        border-radius: 5px;
    }
}