.panel-content{
    margin-bottom: 12vh;
    color: rgb(32, 33, 33);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.panel-content button{
    cursor: pointer;
    height: 9vh;
    width: 25vw;
    background-color: rgb(54, 207, 135);
    color: white;
    border-radius: 50px;
    border: 0px;
    font-size: medium;
    font-weight: bold;
    transition: 0.2s;
}

.panel-content button:hover{
    background-color: teal;
}

#delete-btn{
    background-color: rgb(255, 67, 67);
}

#delete-btn:hover{
    background-color: darkred;
}

.panel-content form input[type="text"]{
    height: 9vh;
    width: 21vw;
    border-radius: 50px;
    border: 0px;
    background-color: rgb(239,245,243);
    font-size: large;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 10vh;
    margin-bottom: 5vh;
    text-align: center;
}

@media only screen and (max-width: 821px)
{
    .panel-content button{
        width: 90vw;
        height: 8vh;
    }

    .panel-content form input[type="text"]{
        width: 80vw;
        height: 8vh;
    }
}