<header id="about-header"></header>

<main class="about-content" id="about-main">
    <h1>More info about this page.</h1>
    <p>Resources:</p>
    <div class="link-class">
        <ul id="resources-links">
            <li><a href="README.md" target="_blank">README.md</a></li>
            <li><a href="scholarly.html" target="_blank">Scholarly.html</a></li>
            <li><a href="LICENSE" target="_blank">LICENSE</a></li>
            <li><a href="c4diagram.png" target="_blank">C4 Diagram</a></li>
            <li><a href="demovideo.mp4" target="_blank">Demo Video</a></li>
        </ul>
    </div>
</main>

<footer id="about-footer"></footer>