<header id="dashboard-header"></header>

<main class="dashboard-content" id="dashboard-main">
    <h1>Welcome to PoW!</h1>
    <p>Latest updates via RSS feed:</p>
    <div class="link-class">
        <ul id="rss-links">
            <li><a href="php/rss.php?type=recent" target="_blank">Most recent Pets</a></li>
            <li><a href="php/rss.php?type=popular" target="_blank">Most popular Pets</a></li>
            <li><a href="php/rss.php?type=group" target="_blank">Latest group of Pets</a></li>
            <li><a href="php/rss.php?type=pets" target="_blank">Latest Pets</a></li>
            <li><a href="php/rss.php?type=users" target="_blank">Latest uploads by Users</a></li>
            <li><a href="php/rss.php?type=families" target="_blank">Latest uploads by Families</a></li>
            <li><a href="php/rss.php?type=healthy" target="_blank">Latest healthy Pets</a></li>
            <li><a href="php/rss.php?type=injured" target="_blank">Latest injured Pets</a></li>
            <li><a href="php/rss.php?type=sick" target="_blank">Latest sick Pets</a></li>
            <li><a href="php/rss.php?type=botosani" target="_blank">Latest uploads from Botosani</a></li>
            <li><a href="php/rss.php?type=bacau" target="_blank">Latest uploads from Bacau</a></li>
            <li><a href="php/rss.php?type=galati" target="_blank">Latest uploads from Galati</a></li>
            <li><a href="php/rss.php?type=iasi" target="_blank">Latest uploads from Iasi</a></li>
            <li><a href="php/rss.php?type=neamt" target="_blank">Latest uploads from Neamt</a></li>
            <li><a href="php/rss.php?type=suceava" target="_blank">Latest uploads from Suceava</a></li>
        </ul>
    </div>
</main>

<footer id="dashboard-footer"></footer>