<nav class="topnav">
    <button type="button" id="home-btn">Home <img src="assets/home-btn.svg" alt="Home-icon" class="nav-icon" draggable="false"></button>
    <button type="button" id="addpets-btn">Add Pets <img src="assets/pets-btn.svg" alt="Pets-icon" class="nav-icon" draggable="false"></button>
    <button type="button" id="mypets-btn">My Pets <img src="assets/box-btn.svg" alt="Box-icon" class="nav-icon" draggable="false"></button>
    <button type="button" id="browse-btn">Browse <img src="assets/globe-btn.svg" alt="Globe-icon" class="nav-icon" draggable="false"></button>
    <button type="button" id="requests-btn">Requests <img src="assets/book-btn.svg" alt="Book-icon" class="nav-icon" draggable="false"></button>
    <button type="button" id="panel-btn">Panel <img src="assets/panel-btn.svg" alt="Panel-icon" class="nav-icon" draggable="false"></button>
    <button type="button" id="logout-btn">Logout <img src="assets/logout-btn.svg" alt="Logout" class="nav-icon" draggable="false"></button>
    <button type="button" id="menu-btn" class="icon"><img src="assets/menu-btn.svg" alt="Menu-icon" class="nav-icon" draggable="false"></button>
</nav>
