<nav class="topnav">
    <button type="button" id="home-btn">Home <i class="fa fa-home"></i></button>
    <button type="button" id="addpets-btn">Add Pets <i class="fa fa-paw"></i></button>
    <button type="button" id="mypets-btn">My Pets <i class="fa fa-archive"></i></button>
    <button type="button" id="browse-btn">Browse <i class="fa fa-globe"></i></button>
    <button type="button" id="requests-btn">Requests <i class="fa fa-book"></i></button>
    <button type="button" id="panel-btn">Panel <i class="fa fa-user-secret"></i></button>
    <button type="button" id="logout-btn">Logout <i class="fa fa-sign-out"></i></button>
    <button type="button" id="menu-btn" class="icon"><i class="fa fa-bars"></i></button>
</nav>
