<header class="logo-header">
    <img src="assets/pow-logo.png" alt="PoW logo">
    <p>Pet Adoption on Web</p>
</header>

<div class="auth-container">
    <div class="login-class" id="login">
        <h1>Login to Your Account</h1>
        <form id="login-form" method="post" action="php/login.php">
            <input type="email" placeholder="Email" id="email-input" name="email">
            <input type="password" placeholder="Password" id="password-input" name="password">
            <button type="submit" id="signin-btn">Sign In</button>
        </form>
    </div>

    <div class="register-class" id="register">
        <h1>Create a new account!</h1>
        <p>Register today and enter the world of pets!</p>
        <button type="button" id="signup-btn">Sign Up</button>
    </div>
</div>
