<header id="panel-header"></header>

<main class="panel-content" id="panel-main">
    <h1>Administrator management page</h1>
    <button type="button" id="db-init-btn">Initialize Database</button>

    <form id="deletePet-form" method="post" action="php/panel.php">
        <input type="text" placeholder="Pet id" id="deletePet-input" name="deletePet">
        <button type="submit" id="delete-btn">Delete Pet</button>
    </form>

    <button type="button" id="export-csv-btn">Export CSV</button>

    <button type="button" id="export-json-btn">Export JSON</button>
</main>

<footer id="panel-footer"></footer>